/* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
/* 
.container {
    margin: auto;
    max-width: 1000px;
} */

/* #banner {
    background-color: rgb(8, 177, 255);
    height: 120px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
*/
.icon {
   
    font-size: 56px;
}

.techIcon {
    display: inline-block;
}
/*
.keySkills li {
    display: inline;
    margin-right: 10px;
    padding: 70px;
}
/* 
div {
    border-style: solid;
} */

/* .bannerText {
    color: rgb(255,255,255);
    text-align: center;
    width: 100%
}

#banner {
    color: rgb(255,255,255);
    width: 100% 
} 

#bannerTitle {
    font-size: 36pt;
}

#bannerIntro {
    text-align: center;
}

*/
a {
    text-decoration: none;
    color: white;
}
/*
.keySkills {
    text-align: center;
}

.page {
    background-color: #ffffff;
}

.technical {
    display: block;
}

.projectImg {
    height: 300px;
    display: block;
}

.paragraphDescription {
    height: 300px;
}
/* 
.paragraphDescription p {
    padding-left: 100px;
} */
img {
    border-radius: 50%;
} 